language: objective-c
cache: cocoapods
osx_image: xcode7.3

before_install:
- brew update
- brew outdated xctool || brew upgrade xctool
- gem install cocoapods
- pod install --project-directory=Example

script:
- set -o pipefail && xcodebuild test -workspace Example/Swiftcraft.xcworkspace -scheme
  Swiftcraft-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint

notifications:
  slack:
    secure: ne8VNIbEQbp2IfCLuAGXqdU/OAdzHKZMKagFAKiPLP0aAs8K6rhWjLnlgblSUwv1JvKNUTZxC19IemW8OJo1PrUL6MOqt3FM8Z2HmbT1NQGK+OOjYVdKcIbhXqzBW2tZt2aiA1Rgg8Dw6t63RBijMGSWC270HnP7UvqbutD+JBUkexWda7bPFIFR1hGBPwQ9T4h//QHDtWNGjr9YJtKfBjtv3I8e32dHu1GYD9lSpHk+VQ7S63lcVbainnVUF6mJli5lb33xhlkMDzlIH3YfUr5h1jHDG3ZlF+NW6NamkpXGAzgsVGwo5Te/vlevxA9aj2QPTo3WqHKm8kLOavmALPkdwqc+u9onKOppFMIbtDF4edpAq/5hu5m65gduTG6SN1VaLTSedG+WQa5GU8szMhPzP98jDcRmYaqfZsqHvXrUPkhz/OoTwmr+DOftfSF26mzYGFUpgZUUKPVq21dd906uy5kb3O1Tcv/2BMAfB3yPKB8O+OHhqtAn0o2jOoZm9/O1EqBBEGsm8G4WVC/YxxpljpCA6vGMbs7EWiYnbEhLaXRAzQpOyE8hEWeXjUYJvwNRKSyM/sUNSX0RlVmlcu0DKTsZJJHlgJ4zGh9/2z0w2QjX+ceWt9rPE7Ww0SU9qE49I7rUNIBuBbm28lEnbtF6nHmjfUkrZhCEidTPoUE=
